<!DOCTYPE html>
<html ng-app = "myApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Get Pointcloud </title>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/node_modules/angular-material/angular-material.css">
  <script src="node_modules/angular/angular.min.js"> </script>
  <script src="/node_modules/angular-aria/angular-aria.js"></script>
  <script src="/node_modules/angular-animate/angular-animate.js"></script>
  <script src="/node_modules/angular-material/angular-material.js"></script>
</head>
<body ng-controller="AppCtrl">
  <div ng-cloak>
    <md-content>
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="SFM">
          <md-content class="md-padding">
            <h2 class="md-display-1"> Get Pointcloud by Structure From Motion </h2>
            <input type = "file" accept="image/*" file-model = "myFile" multiple="multiple"/>
            <md-button class="md-raised md-primary" ng-click = "uploadFile()">upload me</md-button>
            <md-button class="md-raised" ng-click = "renew()"> New pointcloud </md-button>
            <div layout = "row" layout-align = "space-around none" ng-show="filesName.length > 0">
              <div>
                <h3> List of images </h3>
                <h4 ng-repeat = "file in filesName"> {{file}}</h4>
                <p ng-if="(filesName.length < 2)"> You need to add more images. </p>
              </div>
              <div >
                <form name="getPointcloudForm">
                  <div layout="row" layout-align="center">
                    <md-input-container>
                      <label> Focal camera </label>
                      <input type ="number" min = "0" required name="focalCamera" ng-model="pointcloud.focal">
                    </md-input-container>
                    <md-input-container>
                      <label> cx: center of projection coordinates </label>
                      <input type ="number" min = "0" required name="cx" ng-model="pointcloud.cx">
                    </md-input-container>
                    <md-input-container>
                      <label> cy: center of projection coordinates </label>
                      <input type ="number" min = "0" required name="cy" ng-model="pointcloud.cy">
                    </md-input-container>
                  </div>
                  <div layout = "row" layout-align="center">
                    <md-button class = "md-raised md-primary" ng-disabled="getPointcloudForm.$invalid || dataLoadingSFM || filesName.length < 2" ng-click ="getPointCloud(pointcloud)"> Get PointCloud</md-button>
                    <div ng-show="dataLoadingSFM">
                      <p> Please wait... </p>
                    </div>
                  </div>
                  <a ng-show="showDownload" href="/pointcloud.txt" target = "_blank" download='pointcloud.txt'> Download old pointcloud file </a>
                </form>
              </div>
            </div>
          </md-content>
        </md-tab>
        <md-tab label="Detecting Corners">
          <md-content class="md-padding">
            <h2 class="md-display-1"> Detecting Corners </h2>
            <form name="getCornersForm">
              <input type = "file" accept="image/*" file-model = "myFile" />
              <div layout="row" layout-align="center">
                <md-input-container>
                  <label> Maximun Corners </label>
                  <input type ="number" min = "0" required name="maxCorners" ng-model="corner.maxCorners">
                </md-input-container>
                <md-input-container>
                  <label> Quality level </label>
                  <input type ="number" min = "0" required name="quality_level" ng-model="corner.quality_level">
                </md-input-container>
                <md-input-container>
                  <label> Min distance </label>
                  <input type ="number" min = "0" required name="min_distance" ng-model="corner.min_distance">
                </md-input-container>
              </div>
              <div layout = "row" layout-align="center">
                <md-button class="md-raised md-primary" ng-disabled="getCornersForm.$invalid || dataLoadingCorners" ng-click = "uploadToGetCorners(corner)"> Get Corners </md-button>
                <div ng-show="dataLoadingCorners">
                  <p> Please wait... </p>
                </div>
              </div>
            </form>
            <div layout = "row" layout-align="center">
              <img style="max-width:100%; height:auto" ng-if="hasCorners" ng-src="{{outputCornersUrl}}">
            </div>
          </md-content>
        </md-tab>
        <md-tab label="Finding Books">
          <md-content class="md-padding">
            <h2 class="md-display-1"> Finding Books </h2>
            <form name="findingBooksForm">
              <input type = "file" accept="image/*" file-model = "myFile" />
              <div layout="row" layout-align="center">
                <md-input-container>
                  <label> Threshold [0, 255] </label>
                  <input type ="number" min = "0" max = "255" required name="threshold" ng-model="threshold">
                </md-input-container>
              </div>
              <div layout = "row" layout-align="center">
                <md-button class="md-raised md-primary" ng-disabled="findingBooksForm.$invalid || dataLoadingBooks" ng-click = "uploadToFindBooks()"> Find Books </md-button>
                <div ng-show="dataLoadingBooks">
                  <p> Please wait... </p>
                </div>
              </div>
            </form>
            <div layout = "row" layout-align="center">
              <img style="max-width:100%; height:auto" ng-if="hasBooks" ng-src="{{outputBooksUrl}}">
            </div>
          </md-content>
        </md-tab>
        <md-tab label="Harris Detector">
          <md-content class="md-padding">
            <h2 class="md-display-1"> Harris Detector Corners </h2>
            <form name="HarrisDetectorForm">
              <input type = "file" accept="image/*" file-model = "myFile" />
              <div layout="row" layout-align="center">
                <md-input-container>
                  <label> Threshold [0, 255] </label>
                  <input type ="number" min = "0" max = "255" required name="HarrisThreshold" ng-model="HarrisThreshold">
                </md-input-container>
              </div>
              <div layout = "row" layout-align="center">
                <md-button class="md-raised md-primary" ng-disabled="HarrisDetectorForm.$invalid || dataLoadingHarrisCorner" ng-click = "uploadToGetHarrisDetector()"> Get Corners </md-button>
                <div ng-show="dataLoadingHarrisCorner">
                  <p> Please wait... </p>
                </div>
              </div>
            </form>
            <div layout = "row" layout-align="center">
              <img style="max-width:100%; height:auto" ng-if="hasHarrisDetector" ng-src="{{outputHarrisDetectorUrl}}">
            </div>
          </md-content>
        </md-tab>
        <md-tab label="Slam">
          <md-content class="md-padding">
          </md-content>
        </md-tab>
      </md-tabs>
    </md-content>
  </div>

  <script src="javascripts/controller.js"></script>
</body>
</html>
